/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

/* For Firefox */
/* Width */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Track */
html {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Thumb */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}